<launch>
  <arg name="mname" default="odroid0" />
  
  <include file="$(find odroid_machine)/launch/odroid_machine.launch">
    <arg name="mname" value="$(arg mname)" />
  </include>

  <node machine="$(arg mname)" ns="$(arg mname)" name="zumy_ros_bridge" pkg="ros_zumy" type="zumy_ros_bridge.py"  output="screen" >
  
  <arg name="camera" default="usb_cam" />
  <arg name="device" default="/dev/video0" />

  <node machine="$(arg mname)" ns="$(arg mname)" name="usb_cam" pkg="usb_cam" type="usb_cam_node"  output="screen" >
    <param name="video_device" value="$(arg device)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="$(arg camera)" />
    <param name="io_method" value="mmap" />
    <param name="camera_info_url" value="package://odroid_machine/calib/lifecam.yml" />
  </node>

  <arg name="marker_size" default="3.49" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />

  <node machine="(arg mname)" ns="$(arg mname)" name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg mname)/$(arg camera)/image_raw $(arg mname)/$(arg camera)/camera_info $(arg camera)" />
</launch>
